### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [202]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/Pymoli_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load, low_memory=False)
purchase_data_disp = pd.DataFrame(purchase_data_df)
purchase_data_disp.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [203]:
#length of unique players, no duplicates
playercount = len(purchase_data_df["SN"].unique())

#make dataframe
playercount_disp = pd.DataFrame({"Total SN":[playercount]})
playercount_disp.head()

   Total SN
0       576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [204]:
#Calculate from purchase data
#total items
item_count = len(purchase_data_df['Item ID'].unique())

#average price
average_item_price = purchase_data_df['Price'].mean()

#the total number of purchase made in data
purchase_count = len(purchase_data_df)

#total purchase value/revenue for total data
total_purchase_value = purchase_data_df['Price'].sum()

#make dataframe
summary_table = pd.DataFrame([{'Average Price': average_item_price, 'Number of Unique Items' : item_count, "Total Revenue": total_purchase_value, 'Number of Purchases': purchase_count}])
summary_table.head()

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [205]:
gender_data = purchase_data_df[['Purchase ID', 'Gender']]
gender_count = gender_data['Gender'].value_counts()
gender_tot = gender_count.sum()
percent = gender_count / gender_tot *100

gender_result = pd.DataFrame({'Count' : gender_count, 'percent':percent})
gender_result.index.name = None
gender_result.sort_values(['Count'], ascending = False).style.format({'percent':"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [206]:
gender_purchase_total = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Total")
gender_counts = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
average_total_purchase = purchase_data_df.groupby(["SN"])[["Price","Gender"]].agg({"Price" : "sum", "Gender" : "max"})
average_total_purchase
gender_total_purchase = average_total_purchase.groupby(["Gender"]).mean()["Price"]
gender_total_purchase
print("gender_purchase_total")
print(gender_purchase_total)
print("gender_average")
print(gender_average)
print("gender_counts")
print(gender_counts)
print("gender_total_purchase")
print(gender_total_purchase)

purchase_gender = pd.DataFrame({'Total Purchase Value' : gender_purchase_total, 'Average Purchase Price' : gender_average, 'Purchase Count' : gender_counts, 'Avg Total Purchase Per Person' : gender_total_purchase})
purchase_gender
#gender_data["Average Purchase Price"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
#gender_data["Average Purchase Price"] = gender_data["Total Purchase Value"].map("${:,.2f}".format)
#gender_data["Average Purchase Price"] = gender_data["Purchase Count"].map("${:,.2f}".format)
#gender_data["Average Purchase Price"] = gender_data["Total Average Purchase Value"].map("${:,.2f}".format)
#gender_data.head()

#gender_data["Average Purchase Price per Person"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
#gender_data["Average Purchase Price per Person"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
#gender_data["Average Purchase Price per Person"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)
#gender_data["Average Purchase Price per Person"] = gender_data["Average Purchase Price"].map("${:,.2f}".format)

gender_purchase_total
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64
gender_average
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Total, dtype: float64
gender_counts
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64
gender_total_purchase
Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

,Total Purchase Value,Average Purchase Price,Purchase Count,Avg Total Purchase Per Person
Gender,,,,
Female,361.94,3.203009,113,4.468395
Male,1967.64,3.017853,652,4.065372
Other / Non-Disclosed,50.19,3.346000,15,4.562727

In [207]:
average_total_purchase = purchase_data_df.groupby(["SN"])[["Price","Gender"]].agg({"Price" : "sum", "Gender" : "max"})
average_total_purchase
gender_total_purchase = average_total_purchase.groupby(["Gender"]).mean()["Price"]
gender_total_purchase

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [208]:
age_bins = [0, 10, 15, 20, 25, 35, 40, 90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_demographics = pd.DataFrame()

player_demographics["Age Ranges"] = pd.cut(purchase_data_df["Age"], age_bins, labels=group_names)
player_demographics["count"] =1
age_range = player_demographics.groupby(["Age Ranges"]).count()
age_range
age_range["Percentage of Players"] = age_range["count"]/playercount*100
age_range
age_range.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [216]:
age_bins = [0, 10, 15, 20, 25, 35, 40, 90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

player_demographics = pd.DataFrame()

player_demographics["Age Ranges"] = pd.cut(purchase_data_df["Age"], age_bins, labels=group_names)
player_demographics["count"] =1
age_range = player_demographics.groupby(["Age Ranges"]).count()
age_range
average_purchase_price = 

#age_range["Percentage"] = age_range["count"]/playercount*100
#age_range

#total_purchase["Total Purchase Value"] = age_range["Price"].sum()
#total_purchase

#average_purchase_per_person = /
#total_purchase_value = age_range["Price"].sum()
#total_purchase_value
#total_purchase_value["Total Purchase Value"] = gender_average*player_demographics["count"]
#total_purchase_value

            count
Age Ranges
<10            32
10-14          54
15-19         200
20-24         325
25-29         129
30-34          33
35-39           7
40+             0

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [210]:
#Top Spenders
spender_sn = purchase_data_df.groupby("SN")

#counting the amount of purchases per Screen name / persion
spender_purchase_count = spender_sn["Purchase ID"].count()

#calculate average purchase price per screen name
spender_average_purchase_price = spender_sn["Price"].mean()

#total purcahse price for that person
total_purchase_price_spender = spender_sn["Price"].sum()

#make dataframe
highest_spenders = pd.DataFrame({'Purchase Count' : spender_purchase_count, 'Average Purchase Price' : spender_average_purchase_price, 'Total Purchase Value' : total_purchase_price_spender})
highest_spenders

top_five_spenders = highest_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#format to look pretty
top_five_spenders.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [211]:
#most popular
#purchase will be grouped by the specific ID and Name
#item = highest_spenders_df[["Item ID", "Item Name", "Price"]]
item = purchase_data_disp.groupby(["Item ID", "Item Name"]).count()["Price"]
item_price = purchase_data_disp.groupby(["Item ID", "Item Name"])["Price"].sum()
item_total_purchase_value = purchase_data_disp.groupby(["Item ID", "Item Name"])["Price"].sum()

#Dataframe here
#most_popular_items = pd.DataFrame({"Purchase Count": spender_purchase_count,"Average Purchase Price": spender_average_purchase_price,"Total Purchase Value": total_purchase_price_spender})
#most_popular_items.head()

#item_description = item.groupby(["Item ID","Item Name"])["Purchase Count"].sum()
#item_description
#counts how many times a specific item has been purchased
#purchase_count = item_description["Purchase Count"].sum()
#purchase_count
#purchase_count = item_count["Price"].count()
# here we calculate the purchase value per item 
#purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
#item_price = purchase_value/purchase_count_item


#sort by descending order because it says so
most_popular_items_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
most_popular_items_formatted

# Format so it doesn't look ulgy af
most_popular_items_formatted.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

In [212]:
# Step 1 we need to create a new data frame based on Item ID, Item Name and Price 
item = purchase_data_disp[["Item ID", "Item Name", "Price"]]
# Step 2 then we group them by said id and name 
item_stats = item.groupby(["Item ID","Item Name"])
# Step 3 we add up all the times a specific product has been bought 
item_purchase_count = item_stats["Price"].count()
# Step 4 calculate value of purchase of item
purchase_value = (item_stats["Price"].sum()) 
# Step 5 individual item price for top 5
price = purchase_value/item_purchase_count
# Step 6 Create the new data frame
popular_items = pd.DataFrame({"Purchase Count": item_purchase_count,"Item Price": price,"Total Purchase Value":purchase_value})
# Step 7 Sort by descending order to get top 5 and because it says so
popular_formatted = popular_items.sort_values(["Purchase Count"], ascending=False).head()
# Step 8 Format the purchase value to include dollar symbol and decimal point
popular_formatted.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [217]:
#sort in descending order....again 
popular_items_formatted = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

#make it pretty to look at and understand....again
popular_items_formatted.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})